@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    color: #3d3d3d;
    font-family: 'poppinsregular';
}
.bg-dark {
    background: #f33c3c!important;
}
.bannerBg>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
.bannerBg .logo {
    height: 70px;
    margin: 10px 0;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

.carousel-inner .carousel-item > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    -webkit-animation: zoom 20s;
            animation: zoom 20s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .5s ease;
}
.main-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-navbar li a {
    padding: 28px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.main-navbar li:hover a, .main-navbar li.active a {
    color: #fff205;
}
#banner-search {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    white-space: nowrap;
    max-width: 90%;
    align-items: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
#banner-search h3 {
    font-size: 36px;
}
#banner-search p {
    font-size: 14px;
    color: #f5f5f5;
    padding: 0 30px;
}
.banner-search-form {
    background: #fff;
}
#banner-search .form-control, #banner-search .btn {
    border-radius: 0;
    border: none;
}
#banner-search .form-control {
    cursor: text;
}
#banner-search .form-control:focus {
    box-shadow: none;
    outline: none;
}
#banner-search .input-group-text {
    background: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    margin: 0;
    cursor: text;
}
#banner-search .input-group-text.bl {
    border-left: 1px solid #d1d1d1;
}
.home-section {
    padding: 60px 0;
    position: relative;
}
.home-section.gray_bg {
    background: #ebebeb;
}
.home-section>.overlay {
    margin: -60px 0;
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.5);
}
.section-title {
    text-align: center;
    background: url('../imgs/headline_hearth.svg') center center no-repeat;
    background-size: contain;
    font-size: 36px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 40px;
}
.section-title::after {
    content: "";
    background: url('../imgs/seperator.png') no-repeat;
    background-size: contain;
    width: 112px;
    height: 7px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section-title span, h4 span {
    color: #f33c3c;
}
.left-title .section-title {
    text-align: left;
    display: inline-block;
}
.left-title .section-title::after {
    left: 0;
    transform: translateX(0%);
    background: none;
    border-top: 3px solid #f33c3c;
}
.ads_space img {
    max-width: 100%;
    border: 1px solid #ddd;
}
.landscape-ad {
    width: 60%;
    margin: auto;
}
.landscape-ad img {
    width: 100%;
}
.ads {
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
}
.ads:hover {
    border: 1px solid #f33c3c;
}
.ads:after {
    content: "Ad";
    position: absolute;
    top: 0;
    left: 0;
    background: #f8f8f8;
    padding: 1px 5px;
    line-height: 100%;
    border-radius: 0 0 5px 0;
}
.ads:hover:after {
    background: #f33c3c;
    color: #fff;
}
.carousel-section .ads img {
    height: 100%;
    object-fit: contain;
}
.carousel-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.carousel-section .carousel-section-body {
    background: #fff;
    padding: 15px;
    font-size: 14px;
}
.carousel-section h4 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-transform: capitalize;
}

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    padding: 0;
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #333;
    background: transparent;
    border: none;
    font-size: 48px;
}
button:focus {
    outline: none;
}

.owl-carousel {
    margin-bottom: 70px;
}
.owl-carousel .owl-nav .owl-prev {
    left: -50px;
}
.owl-carousel .owl-nav .owl-next {
    right: -50px;
}
.owl-carousel .owl-dots {
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 25px;
    height: 7px;
    border: 1px solid #f33c3c;
    border-radius: 5px;
    background: transparent;
    margin: 0 1px;
    align-self: center;
    transition: all .3s ease;
}
.owl-carousel .owl-dots .owl-dot.active {
    background: #f33c3c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.place-section {
    background: #f33c3c url('../imgs/banner_bg.jpg') center center fixed;
    background-size: cover;
    color: #fff;
}
.place-section .section-title {
    background: none;
}
.place-address {
    /* border: double #fff205; */
    color: #fff205;
    border-width: 5px;
    padding: 50px 0;
    border-radius: 50px 5px;
    font-size: 1.5em;
}
.place-address h4 {
    font-size: 2em;
    text-transform: uppercase;
}

/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline h2 {
    color: #f33c3c;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #f33c3c;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #f33c3c;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f33c3c;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f33c3c;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  border: 1px solid #f33c3c;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
.timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #f33c3c;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 17.5px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* End Timeline */

#moment-section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#contact-section iframe {
    border: 0;
    margin: 0;
    width: 100%;
    height: 450px;
}
.location {
    position: relative;
}
.location-content {
    position: absolute;
    right: 50px;
    top: 50px;
    background: #fff;
    border-radius: 50px;
    bottom: 50px;
    padding: 65px 30px;
    z-index: 1;
}
.location-content h3 {
    color: #f33c3c;
}


/* RSVP / Footer */
footer {
    background:  #363636;
    padding: 40px 0;
}
footer, footer a {
    color: #fff;
    text-decoration: none;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer a:hover {
    color: #ccc;
    text-decoration: none;
}
.social-links a {
    margin-right: 10px;
    display: inline-block;
}
.radio-button {
    position: relative;
    line-height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.radio-button input[type=radio] {
    display: none;
    margin: 0;
    padding: 0;
}
.radio-button span {
    padding-left: 25px;
}
.radio-button span::before, .radio-button span::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 50%;
}
.radio-button span::after {
    display: none;
    background: #c94548;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
}
.radio-button input:checked+span::before {
    border-color: #c94548;
}
.radio-button input:checked+span::after {
    display: inline-block;
}

.news-section, .event-section {
    font-size: 12px;
    background: #fff;
}
.news-section .news-content {
    margin-left: -30px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.news-section h4, .event-section h4 {
    font-size: 16px;
    font-weight: bold;
}
.news-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}
.news-section .news-image {
    position: relative;
}
.news-section .news-image .news-date, .event-section .event-date {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    background: #f33c3c;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 100%;
}
.news-date .date, .event-date .date {
    line-height: 100%;
    font-size: 48px;
}
.event-section {
    border-bottom: 1px solid #ccc;
}
.event-section .event-date {
    padding: 0;
    position: static;
    background: none;
    color: inherit;
    border-right: 3px solid #ccc;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-primary {
    background: #f33c3c;
    border-color: #f33c3c;
    text-transform: uppercase;
}
.btn-outline-primary {
    border-color: #f33c3c;
    text-transform: uppercase;
    color: #f33c3c;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
    background-color: #ad1919 !important;
    border-color: #ad1919;
    box-shadow: none !important;
    outline: none;
}
::selection {
    background-color: #ad1919;
}
